USE [master]
GO
/****** Object:  Database [TP_DSCCR]    Script Date: 2019/9/28 下午 09:32:06 ******/
CREATE DATABASE [TP_DSCCR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP-DSCCR', FILENAME = N'D:\DATA\TP-DSCCR.mdf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP-DSCCR_log', FILENAME = N'D:\DATA\TP-DSCCR_log.ldf' , SIZE = 65536KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_DSCCR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_DSCCR]
GO
USE [TP_DSCCR]
GO
/****** Object:  Sequence [dbo].[AHU_SEQ]    Script Date: 2019/9/28 下午 09:32:06 ******/
CREATE SEQUENCE [dbo].[AHU_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CYCLE 
 NO CACHE 
GO
USE [TP_DSCCR]
GO
/****** Object:  Sequence [dbo].[Chiller_SEQ]    Script Date: 2019/9/28 下午 09:32:06 ******/
CREATE SEQUENCE [dbo].[Chiller_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CYCLE 
 NO CACHE 
GO
USE [TP_DSCCR]
GO
/****** Object:  Sequence [dbo].[COP_SEQ]    Script Date: 2019/9/28 下午 09:32:06 ******/
CREATE SEQUENCE [dbo].[COP_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CYCLE 
 NO CACHE 
GO
USE [TP_DSCCR]
GO
/****** Object:  Sequence [dbo].[CP_SEQ]    Script Date: 2019/9/28 下午 09:32:06 ******/
CREATE SEQUENCE [dbo].[CP_SEQ] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CYCLE 
 NO CACHE 
GO
/****** Object:  Table [dbo].[AHU]    Script Date: 2019/9/28 下午 09:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AHU](
	[SID] [int] NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[AUTOID] [int] NOT NULL,
	[DATETIME] [datetime] NULL,
	[LOCATION] [varchar](4) NOT NULL,
	[DEVICE_ID] [varchar](4) NOT NULL,
	[AHU01] [real] NULL,
	[AHU02] [real] NULL,
	[AHU03] [real] NULL,
	[AHU04] [real] NULL,
	[AHU05] [real] NULL,
	[AHU06] [real] NULL,
	[AHU07] [real] NULL,
	[AHU08] [real] NULL,
	[AHU09] [real] NULL,
	[AHU10] [real] NULL,
	[AHU11] [real] NULL,
 CONSTRAINT [PK_AHU] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chiller]    Script Date: 2019/9/28 下午 09:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chiller](
	[SID] [int] NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[AUTOID] [int] NOT NULL,
	[DATETIME] [datetime] NULL,
	[LOCATION] [varchar](4) NOT NULL,
	[DEVICE_ID] [varchar](4) NOT NULL,
	[Chiller01] [real] NULL,
	[Chiller02] [real] NULL,
	[Chiller03] [real] NULL,
	[Chiller04] [real] NULL,
	[Chiller05] [real] NULL,
	[Chiller06] [real] NULL,
	[Chiller07] [real] NULL,
	[Chiller08] [real] NULL,
	[Chiller09] [real] NULL,
	[Chiller10] [real] NULL,
 CONSTRAINT [PK_Chiller] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COP]    Script Date: 2019/9/28 下午 09:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COP](
	[SID] [int] NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[AUTOID] [int] NOT NULL,
	[DATETIME] [datetime] NULL,
	[LOCATION] [varchar](4) NOT NULL,
	[DEVICE_ID] [varchar](4) NOT NULL,
	[COP01] [real] NULL,
	[COP02] [real] NULL,
	[COP03] [real] NULL,
	[COP04] [real] NULL,
	[COP05] [real] NULL,
 CONSTRAINT [PK_COP] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CP]    Script Date: 2019/9/28 下午 09:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CP](
	[SID] [int] NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[AUTOID] [int] NOT NULL,
	[DATETIME] [datetime] NULL,
	[LOCATION] [varchar](4) NOT NULL,
	[DEVICE_ID] [varchar](4) NOT NULL,
	[CP01] [real] NULL,
	[CP02] [real] NULL,
	[CP03] [real] NULL,
	[CP04] [real] NULL,
	[CP05] [real] NULL,
	[CP06] [real] NULL,
	[CP07] [real] NULL,
 CONSTRAINT [PK_CP] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AHU] ADD  CONSTRAINT [DF_AHU_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[Chiller] ADD  CONSTRAINT [DF_Chiller_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[COP] ADD  CONSTRAINT [DF_COP_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[CP] ADD  CONSTRAINT [DF_CP_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AHU', @level2type=N'COLUMN',@level2name=N'SID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reliable Controls 產生資料時的序號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AHU', @level2type=N'COLUMN',@level2name=N'AUTOID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料產生時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AHU', @level2type=N'COLUMN',@level2name=N'DATETIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'空調箱所在位置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AHU', @level2type=N'COLUMN',@level2name=N'LOCATION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'偵測器編號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AHU', @level2type=N'COLUMN',@level2name=N'DEVICE_ID'
GO
USE [master]
GO
