<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TP_B3" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
  </connectionStrings>
     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>