<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartTimerAtSecond" value="10"/>
    <add key="ProcessDataTiming" value="1000"/>
    <add key="ExecuteAlertSecond" value="0"/>
  </appSettings>
  <connectionStrings>
    <!--
    <add name="TP_B3" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    
    <add name="TP_B3" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_ALERT" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_ALERT;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />

    <add name="TP_B3" connectionString="Data Source=10.17.30.120;Initial Catalog=DEV_int;Persist Security Info=True;User ID=tpcnet;Password=tpc6383" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=WIN-1R2FN574ES0\SQLEXPRESS;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi)(*&amp;^%$#@!" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=WIN-1R2FN574ES0\SQLEXPRESS;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi)(*&amp;^%$#@!" providerName="System.Data.SqlClient" />
    -->
    <add name="TP_B3" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_ALERT" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_ALERT;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>