<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartTimerAtSecond" value="10"/>
    <add key="ProcessDataTiming" value="60000"/>
    <add key="ExecuteAlertSecond" value="1"/>
    <add key="AlertLimitSecond" value="3"/>

    <!--郵件發送參數-->
    <add key="MAIL_SERVER" value="10.2.1.17"/>
    <add key="MAIL_PORT" value="25"/>
    <add key="MAIL_ACCOUNT" value="twwpos_service"/>
    <add key="MAIL_PASSWORD" value="TWpos@)!*"/>
    <add key="MAIL_FROM" value="twwpos_service@taiwantaxi.com.tw"/>
    <add key="MAIL_IsBodyHtml" value="true"/>
    <add key="MAIL_EnableSsl" value="false"/>
    <add key="MAIL_UseDefaultCredentials" value="false"/>


  </appSettings>
  <connectionStrings>
    <!--
    <add name="TP_B3" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=SA-IT-325;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    
    <add name="TP_B3" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_ALERT" connectionString="Data Source=KAICHIEH-PC;Initial Catalog=TP_ALERT;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />

    <add name="TP_B3" connectionString="Data Source=10.17.30.120;Initial Catalog=DEV_int;Persist Security Info=True;User ID=tpcnet;Password=tpc6383" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=WIN-1R2FN574ES0\SQLEXPRESS;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi)(*&amp;^%$#@!" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=WIN-1R2FN574ES0\SQLEXPRESS;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi)(*&amp;^%$#@!" providerName="System.Data.SqlClient" />
    -->
    <add name="TP_B3" connectionString="Data Source=localhost;Initial Catalog=TP_B3;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_DSCCR" connectionString="Data Source=localhost;Initial Catalog=TP_DSCCR;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_B3_BUFFER" connectionString="Data Source=localhost;Initial Catalog=TP_B3_BUFFER;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_ALERT" connectionString="Data Source=localhost;Initial Catalog=TP_ALERT;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
    <add name="TP_SCC" connectionString="Data Source=localhost;Initial Catalog=TP_SCC;Persist Security Info=True;User ID=sa;Password=TWtaxi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>